/* Webfonts */
@import '_fonts.css';

/* Tailwind base/components */
@import 'tailwindcss/base';
@import 'tailwindcss/components';

/* Default Typography Styles */
@import '_typography.css';

/* Tailwind Utilities */
@import 'tailwindcss/utilities';

.client-logo {
  min-height: 170px !important;

  @screen md {
    min-height: 280px !important;
  }

  @screen xl {
    min-height: 310px !important;
  }
}

.accordion-item {
  @apply transition-all ease-in-out duration-500 pointer-events-none;
  max-height: 0;
  height: 100% !important;

}

.accordion-item--open {
  max-height: 1000px;
  height: 100% !important;
  @apply transition-all ease-in-out duration-700 pb-12 md:pb-16 xl:pb-20;
}


.accordion__panel {
  display: block !important;
  overflow: hidden;
  max-height: 1000px;  
  transition: max-height 1.5s ease-in-out;
}

.accordion__panel[hidden] {
  display: block !important;
  max-height: 0;
  overflow: hidden;  
  transition: max-height 0.75s cubic-bezier(0, 1, 0, 1);
}

.insta-loader {
  animation: instaLoader 20s;
  animation-iteration-count: infinite;
  
  animation-timing-function: ease-in-out;
}

@keyframes instaLoader {
  0% { width: 0 }
  100% { width: 100%; }
}

.hero-top-right {
  max-height: 122px;
}

.fancy-link {

  & .animation {
    animation-play-state: paused;
  }

  &:hover {
    & .animation {
      animation-play-state: running;
    }
  }
}

.team-image {
  &:hover {
    & .team-image--hover {
      animation: teamImage 0.45s;
      animation-iteration-count: 1;
      animation-timing-function: steps(1, end);
      animation-fill-mode: forwards;
    }
  }
}

.team-image--hover {
  animation: teamImageReverse 0.45s;
  animation-iteration-count: 1;
  /* animation-play-state: paused; */
  animation-timing-function: steps(1, end);
  animation-fill-mode: forwards;
}


@keyframes teamImage {
  0% { transform: translateX(0%); }
  33% { transform: translateX(-14.285%); }
  66% { transform: translateX(-28.57%); }
  100% { transform: translateX(-42.855%); }
}

@keyframes teamImageReverse {
  0% { transform: translateX(-42.855%); }
  33% { transform: translateX(-28.57%); }
  66% { transform: translateX(-14.285%); }
  100% { transform: translateX(0%); }
}

.home-squiggle {
  margin-top: 20px;

  @screen lg {
    margin-top: 75px;
  }

  @screen 2xl {
    margin-top: 100px;
  }
}

.open-nav {
  @screen md {
    padding-top: 5vh;
  }

  @screen xl {
    padding-top: 10vh;
  }
}

.index-layer {
  margin-bottom: -10px;
}

.content--guide > * {
  @apply max-w-screen-xl mx-auto px-6 lg:px-12;
}

.content--guide > .single-image {
  @apply max-w-screen-3xl mx-auto overflow-hidden px-6 2xl:px-16 lg:py-16 !important;
}

.content--guide--mini > * {
  @apply max-w-[1200px] mx-auto px-6 lg:px-12;
}

.content--guide--mini > .single-image {
  @apply max-w-screen-3xl mx-auto overflow-hidden px-6 2xl:px-16 lg:py-16 !important;
}


.top-padding {
  @apply pt-[180px] md:pt-[250px] !important;
}

.header--alert {
  @apply mt-[32px] md:mt-[47px] !important;
}